<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" data-theme="theme-default" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}DashFolio{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('theme_assets', filename='vendor/fonts/boxicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('theme_assets', filename='vendor/css/core.css') }}" class="template-customizer-core-css">
    <link rel="stylesheet" href="{{ url_for('theme_assets', filename='vendor/css/theme-default.css') }}" class="template-customizer-theme-css">
    <link rel="stylesheet" href="{{ url_for('theme_assets', filename='vendor/css/pages/page-auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('theme_assets', filename='css/demo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('theme_assets', filename='vendor/js/helpers.js') }}"></script>
    <script src="{{ url_for('theme_assets', filename='js/config.js') }}"></script>
    {% block head_extra %}{% endblock %}
</head>
<body>
<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
        {% block content %}{% endblock %}
    </div>
</div>
<script src="{{ url_for('theme_assets', filename='vendor/libs/popper/popper.js') }}"></script>
<script src="{{ url_for('theme_assets', filename='vendor/js/bootstrap.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
